@charset "utf-8";


*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    padding: 0 30px;
    margin-left: 30px;
    margin-right: 30px;
   
}

.theme{
    margin-top: 30px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

#year{
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#school{
    margin-left: 30px;
    font-size: 15px;
}